# Palmer Penguins Data Analysis Project

This notebook contains my analysis of the famous Palmer Penguins dataset.

The data set is available [on GitHub](https://allisonhorst.github.io/palmerpenguins/).

### Imports
*** 

Libraries that will be used to conduct and visualise my data analysis on the dataset;

- [numpy](https://numpy.org/) 

- [pandas](https://pandas.pydata.org/docs/index.html)

- [matplotlib](https://matplotlib.org/stable/)

- [seaborn](https://seaborn.pydata.org/index.html)

In [1]:
# Data frames. 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Load Data - Task 2.1
***
- Load the Palmer Pengueins data set from a URL.

In [11]:
# Load the Palmer Penguins data set.
penguins = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv")

In [12]:
# Read the data set.
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

### Overview - Task 2.2

---

- Overview of the data set and the variables.

#### Palmer Penguins

The Palmer Penguins dataset contains information about three penguin species: Gentoo, Adelie, and Chinstrap. The data were collected by Dr. Kristen Gorman as part of the Palmer Station Long Term Ecological Research Program between 2007 and 2009 on three islands in the Palmer Archipelago, Antarctica. 

This dataset is commonly used for statistics and data science alternative to famous Anderson's Iris dataset. It includes measurements such as **bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g,** along with information about the **sex, island** and the **species** of each penguins.

In [13]:
# Looking at the DataFrame information such as the variable names, the number of observations, and the data type of each variable.
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

We can see on above information that number of observations are different on each variable.

In [25]:
print(penguins.duplicated().sum()) # Check for duplicates.
penguins.isnull().sum() # Check for missing values.

0

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [27]:
penguins.dropna(inplace=True) # Drop missing values.
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [29]:
# Count the number of penguins of each sex
penguins['species'].value_counts()

species
Adelie       146
Gentoo       119
Chinstrap     68
Name: count, dtype: int64

### Types of Variables and Rationale - Task 3

---

- Deciding which type of the variables will be used to model the variables in the data set along with the rationale.

Here is an overview of the variables in the dataset:

1. **Species**: This variable indicates the species of each penguins among one of three values: Gentoo, Adelie and Chinstrap.
2. **Island**: This variable refers to the location of each penguins. The observations were conducted on these three islands: Biscoe, Dream and Torgersen.
3. **Sex**: This variable indicates the sex of the penguins, either male or female.
 
4. **Bill Depth (mm)**: This variable represents the depth of the penguin's bill in millimaters. 
5. **Bill Length (mm)**: This variable represents the length of the penguin's bill in millimaters.
6. **Flipper Length (mm)**: This variable represents the length of the penguin's flipper in millimaters.
7. **Body Mass (g)**: This variable represents the body mass of the penguin in grams.

### Visualisation of the Variables - Task 4

---
- Task 4.1: Create a bar chart of an appropriate variable
- Task 4.2: Create a histogram of an appropriate variable

### Correlation - Project
---

- Selecting two variables and analysing how correleted they are

***
### End